<div id="<%= dom_id @user %>">
  <div>
    <h3>Username:</h3>
    <%= @user.username %>
    <p>Has made <%= pluralize(@user.ratings.count, "ratings")%>, average rating <%= @user.average_rating%></p>
  </div>

  <div>
    <strong>member of</strong>
    <ul>
      <% @user.beer_clubs.each do | club | %>
        <li><%= link_to club.name, club %></li>
      <% end %>
    </ul>
  </div>
  <div>

  <div>
    <strong>favorite brewery:</strong>
    <%= @user.favorite_brewery %>
  </div>
  
  <div>
    <strong>favorite beer:</strong>
    <%= @user.favorite_beer%>
  </div>

    <strong>ratings</strong>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li> <%= render rating %>
        <% if @user == current_user %>
          <%= button_to 'Delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class:"btn btn-danger" %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user), class:"btn btn-primary" %> |
  <% end %>
  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete, class:"btn btn-danger" %>
  <% end %>
</div>
