<% content_for :title, "Beers" %>

<h1>Beers</h1>

<div id="beers">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Beer</th>
        <th scope="col">Style</th>
        <th scope="col">Brewery</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @beers.each do |beer| %>
        <tr>
          <th scope="row"><%= link_to beer.name, beer %></th>
          <td><%= beer.style.name %></td>
          <td><%= link_to beer.brewery.name, beer.brewery %></td>
          <td>
          <% if beer.ratings.empty? %>
            0.0
          <% else %>
            <%= round(beer.average_rating) %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to("New beer", new_beer_path, class:"btn btn-primary") if current_user %>
<%= link_to "List of breweries", breweries_path %>
